@font-face {
	font-family: 'Alata';
	src: url('/fonts/Alata-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'DM Serif Display';
	src: url('/fonts/DMSerifDisplay-Regular.woff') format('woff2');
}

/* Poppins */
/* todo: remove unused poppins fonts from font folder */
@font-face {
	font-family: 'Poppins Thin Italic';
	src: url('/fonts/poppins/Poppins-ThinItalic.woff') format('woff');
}

@font-face {
	font-family: 'Poppins Thin';
	src: url('/fonts/poppins/Poppins-Thin.woff') format('woff');
}

@font-face {
	font-family: 'Poppins Light';
	src: url('/fonts/poppins/Poppins-Light.woff') format('woff');
}

@font-face {
	font-family: 'Poppins Light Italic';
	src: url('/fonts/poppins/Poppins-LightItalic.woff') format('woff');
}

@font-face {
	font-family: 'Poppins Regular';
	src: url('/fonts/poppins/Poppins-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Poppins Italic';
	src: url('/fonts/poppins/Poppins-Italic.woff') format('woff');
}

@font-face {
	font-family: 'Poppins Medium';
	src: url('/fonts/poppins/Poppins-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Poppins Medium Italic';
	src: url('/fonts/poppins/Poppins-MediumItalic.woff') format('woff');
}

@font-face {
	font-family: 'Poppins SemiBold';
	src: url('/fonts/poppins/Poppins-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Poppins SemiBoldItalic';
	src: url('/fonts/poppins/Poppins-SemiBoldItalic.woff') format('woff');
}

@font-face {
	font-family: 'Poppins Bold';
	src: url('/fonts/poppins/Poppins-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Poppins Bold Italic';
	src: url('/fonts/poppins/Poppins-BoldItalic.woff') format('woff');
}

@font-face {
	font-family: 'Poppins Black';
	src: url('/fonts/poppins/Poppins-Black.woff') format('woff');
}

@font-face {
	font-family: 'Poppins Black Italic';
	src: url('/fonts/poppins/Poppins-BlackItalic.woff') format('woff');
}

:root {
	--color-white: #ffffff;
	--color-black: #393939;
	--color-red: #c80101;
	--color-orange: #ffd701;

	--color-gray-light: #f9f9f9;
	--color-gray: #888888;
	--color-gray-dark: #666666;

	--spacing-xs: 5px;
	--spacing-s: 10px;
	--spacing-m: 15px;
	--spacing: 20px;
	--spacing-l: 30px;
	--spacing-xl: 40px;
	--spacing-xxl: 50px;

	--size-tablet: 786px;

	--shadow-light: 0px 5px 12px 2px rgba(197, 189, 189, 0.25);
}

@media only screen and (min-width: 786px) {
	.with-border {
		box-sizing: border-box;
		border: 40px solid var(--color-white);
	}
}
